[Unit]
Description=ProjectMeats Gunicorn Socket
Documentation=https://github.com/Vacilator/ProjectMeats

[Socket]
ListenStream=/run/projectmeats.sock
SocketUser=projectmeats
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target